/* Write your CSS code here */
.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-contact {
  width: 50%;
  height: 45%;
}
.page-head {
  color: #551e53;
}
